<!DOCTYPE html>
<html>
  <head>
    {% include 'App/signInUp/links.html.twig' %}
    <link href="{{ asset('css/signInUp/signInUp.css') }}" rel="stylesheet"/>
    <script src="{{asset('js/particular.js')}}"></script>
  </head>
  <body>
  	<main id="particles-js">
  		<form id="signin" class="card" action="{{path('signin')}}" method ="post">
         <h1>WO<span>JOB<span></h1>
        <h2 class="h1">S'identifier</h2>
        <p>Trouvez vos cadidats ou vos job</sp>
        <div class="mb-3">
         <input type="email" class="form-control form-input" id="exampleFormControlInput1" placeholder="name@example.com" name ="email" required>
        </div>
        <div class="mb-3">
          <input class="form-control form-input" id="exampleFormControlTextarea1" rows="3" required name="password" >
        </div>
         <p><a href="#">Mot de passe oublié </a></p>
        <button class=" text-white" type="submit">
          S'indentifier
        </button>
        <p>Nouveau sur wojob? <a href="{{path('signup')}}" class="text-primary text-font-bold">S'inscrire</a></p>
        <p class="text-center text-danger">{{status}}</p>
         <p class="text-center">Wojob  &copy; all right reserverd 2021</p>
  		</form>
  	</main>
    
    <script>
        particlesJS("particles-js", {
    "particles": {
      "number": {
        "value": 80,
        "density": {
          "enable": true,
          "value_area": 800
        }
      },
      "color": {
        "value": "#ffffff"
      },
      "shape": {
        "type": "circle",
        "stroke": {
          "width": 0,
          "color": "#000000"
        },
        "polygon": {
          "nb_sides": 5
        },
        "image": {
          "src": "img/github.svg",
          "width": 100,
          "height": 100
        }
      },
      "opacity": {
        "value": 0.5,
        "random": false,
        "anim": {
          "enable": false,
          "speed": 1,
          "opacity_min": 0.1,
          "sync": false
        }
      },
      "size": {
        "value": 2,
        "random": true,
        "anim": {
          "enable": false,
          "speed": 40,
          "size_min": 0.1,
          "sync": false
        }
      },
      "line_linked": {
        "enable": true,
        "distance": 150,
        "color": "#ffffff",
        "opacity": 0.4,
        "width": 1
      },
      "move": {
        "enable": true,
        "speed": 2,
        "direction": "none",
        "random": false,
        "straight": false,
        "out_mode": "out",
        "bounce": false,
        "attract": {
          "enable": false,
          "rotateX": 600,
          "rotateY": 1200
        }
      }
    },
    "interactivity": {
      "detect_on": "canvas",
      "events": {
        "onhover": {
          "enable": true,
          "mode": "grab"
        },
        "onclick": {
          "enable": true,
          "mode": "push"
        },
        "resize": true
      },
      "modes": {
        "grab": {
          "distance": 150,
          "line_linked": {
            "opacity": 1
          }
        },
        "bubble": {
          "distance": 400,
          "size": 40,
          "duration": 2,
          "opacity": 8,
          "speed": 3
        },
        "repulse": {
          "distance": 200,
          "duration": 0.4
        },
        "push": {
          "particles_nb": 4
        },
        "remove": {
          "particles_nb": 2
        }
      }
    },
    "retina_detect": true
  });
  requestAnimationFrame();
  </script>
  </body>
<html>