<!DOCTYPE html>
<html>
  <head>
    {% include 'App/signInUp/links.html.twig' %}
    <link href="{{ asset('css/signInUp/signInUp.css') }}" rel="stylesheet"/>
    <script src="{{asset('js/particular.js')}}"></script>
  </head>
  <body>
  	<main id="particles-js">
  		<form id="signin" class="card" action="{{path('signin')}}" method ="post">
         <h1>WO<span>JOB<span></h1>
        <h2 class="h1">S'identifier</h2>
        <p>Trouvez vos cadidats ou vos job</sp>
        <div class="mb-3">
         <input type="email" class="form-control form-input" id="exampleFormControlInput1" placeholder="name@example.com" name ="email" required>
        </div>
        <div class="mb-3">
          <input class="form-control form-input" id="exampleFormControlTextarea1" rows="3" type="password" required name="password" >
        </div>
         <p><a href="#">Mot de passe oublié </a></p>
        <button class=" text-white" type="submit">
          S'indentifier
        </button>
        <p>Nouveau sur wojob? <a href="{{path('signup')}}" class="text-primary text-font-bold">S'inscrire</a></p>
        <p class="text-center text-danger">{{status}}</p>
         <p class="text-center">Wojob  &copy; all right reserverd 2021</p>
  		</form>
  	</main>
    <script   src="{{asset('js/RunParticular.js')}}">
    </script>
  </body>
<html>