<!DOCTYPE html>
<html>
  <head>
   
    {% include 'App/signInUp/links.html.twig' %}
    <link href="{{ asset('css/page/home.css') }}" rel="stylesheet"/>
    <script src="{{asset('js/typed.js')}}"></script>
<<<<<<< HEAD
=======
    <script type='text/javascript' src="{{asset('js/d3j.js')}}"></script>
    <script type='text/javascript' src="{{asset('js/topjson.js')}}"></script>
    <script type='text/javascript' src="{{asset('js/global.js')}}"></script>
    
>>>>>>> wojob-emanuel
  </head>
  <body>
  	<header>
       {% include 'App/component/nav.html.twig'%}
  	</header>
  	<main>
      <div  class="typing-animation" id="bar">
       <h1 class="text-white text-center" id="quote"> </h1>
      </div>
      <div class="text-center" id="seconddiv">
        <h2 class="h2 ">C'EST QUOI WOJOB ?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla dolor purus, sit amet eleifend enim venenatis vitae. Cras commodo vestibulum ante, sit amet tincidunt odio cursus quis.eleifend enim venenatis vitae. Cras commodo vestibulum ante, sit amet tincidunt odio cursus quis.
        </p>
      
        <p class="text-center m-5 text-white " >
<<<<<<< HEAD
          <a style="cursor: pointer;" id="studioVideoCvButton">  publier video cv</a> 
          <a href="{{path('video')}}" style="background-color:#a3e5fd">see all video </a>
=======
          <a href="{{path('video')}}" style="background-color:#007bff">see all video </a>
          <a style="cursor: pointer;" id="studioVideoCvButton">  publier video cv</a> 
>>>>>>> wojob-emanuel
          <a  id="studioAnnonceButton" style="cursor: pointer;"> je faire un annonce </a>
        </p>
       
      </div>
      <div id="slicedivf"></div>
      <div id="slicedivr"></div>      
      <div class="text-center" id="tdiv">
        <div>
           <h3 class="h5">Le recrutement freelance enfin simple et rapide</h3>
          <ol>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere cursus elementum. Vivamus lacinia eu lacus dictum porta. Etiam aliquam eros sed condimentum laoreet
            </li>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere cursus elementum. Vivamus lacinia eu lacus dictum porta. Etiam aliquam eros sed condimentum laoreet.
            </li>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere cursus elementum. Vivamus lacinia eu lacus dictum porta. Etiam aliquam eros sed condimentum laoreet.
            </li>
          </ol>
        </div>
      </div>
      <article class="row">
       <div class="col-md-1">
          <div class="Phone is-animating"> </div>
       </div>
       <div class="col-md-11 text-white font-weigth-bold">
<<<<<<< HEAD
        <h3> Vous pouvez recuperez le numero de recruteur et lui appele chez wojob</h3>
       </div>
     </article>
      <div class="row" id="bar-video">
        <div class="col-md-6 text-center ">
           <h4 class="h6 text-center m-2">MES AVANTAGES AVEC WOJOB</h4>
            <ul>
              <li>
                 <i class="far fa-check-circle"></i>
                  Lorem ipsum dolor sit amet
              </li>
               <li>
                <i class="far fa-check-circle"></i>
                  Lorem ipsum dolor sit amet
              </li>
               <li>
                <i class="far fa-check-circle"></i>
                  Lorem ipsum dolor sit amet
              </li>
               <li>
                <i class="far fa-check-circle"></i>
                  Lorem ipsum dolor sit amet
              </li>
            </ul>
        </div>
        <div class="col-md-6 text-center">
          <img width ="30%"src="{{asset('img/remote.jpg')}}" style="border-radius:100%">
        </div>
     </div>
      <div id="b_slicedivf"></div>
      <div id="b_slicedivr"></div>
      <div class="row"  id="howWork">
    
      <div class="col-md-6 text-center">
          <h4 class=" font-weight-bold"> Comment ça marche  </h4>
        <img width = "40%"src="{{asset('img/help.jpg')}}">
      </div>
      <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dJP4vasTG-8" title="YouTube video player"allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="border:7px solid #ac95fd; border-radius:20px"></iframe>
        <p class="text-center" style="width:560px" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p> <a href="#">Créez un compte  <i class="fas fa-arrow-right"></i>  <i class="fas fa-arrow-right"></i> <i class="fas fa-arrow-right"></i></a> </p>
      </div>
     </div>
=======
        <h3 class="h5"> Vous pouvez recuperez le numero de recruteur et lui appele chez wojob</h3>
       </div>
     </article>
      <div id="bar-video">
        <h3 class="h5">VOUS POUVEZ:</h3>
        <p class="first_line"></p>
        <p class="first_line"></p>
       <!--  type des contrat -->
     </div>
      <div id="b_slicedivf"></div>
      <div id="b_slicedivr"></div>
      <p id="square"></p>
      <div class="row" style="width: 80%;margin: auto;"> 
      <div class="col-md-4">
        <img src="{{asset('img/monde.png')}}" alt="wojob" width="70%">
      </div>
      <div class="col-md-4">
       <h3 class="h2 text-center">Pas de frontaire avec wojob</h3>
       <p> Sed at ullamcorper risus, ac gravida erat. Nullam non commodo sem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras ac rhoncus velit. Vivamus eu venenatis elit. Pellentesque congue vitae neque sit amet viverra.</p>
        <p class="first_line"></p>
        <p class="first_line"></p>
      </div>
       <div class="col-md-4">
         <canvas id='quakeCanvas'></canvas>
       </div>
      </div>
      <!-- comment ça marche -->
      <div id="tutorial">
        <div>
           <h3 class="text-center h1" style="color:#1c1b40; font-weight:800">Comment ça marche ?</h3>
           <p class="text-center text-white">Regarder ce video tutorial <p>
           <p class="text-center" id="icon_video"><i class="fas fa-play"></i></p>
        </div>
      </div>
      <h3 class="text-center h2">Les tarifs à 0 euro</h3>
      <div id="price">
        <div>
          <div>
           
            <div class="row">
              <div class="col-md-4">
                <div class="card text-center">
                  <div class="title">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    <h2>Basic</h2>
                  </div>
                  <div class="price">
                    <h4><sup>$</sup>25</h4>
                  </div>
                  <div class="option">
                    <ul>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> 10 GB Space </li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> 3 Domain Names </li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> 20 Email Address </li>
                    <li> <i class="fa fa-times" aria-hidden="true"></i> Live Support </li>
                    </ul>
                  </div>
                  <a href="#">Order Now </a>
                </div>
              </div>
              <!-- END Col one -->
              <div class="col-md-4">
                <div class="card text-center">
                  <div class="title">
                    <i class="fa fa-plane" aria-hidden="true"></i>
                    <h2>Standard</h2>
                  </div>
                  <div class="price">
                    <h4><sup>$</sup>50</h4>
                  </div>
                  <div class="option">
                    <ul>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> 50 GB Space </li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> 5 Domain Names </li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> Unlimited Email Address </li>
                    <li> <i class="fa fa-times" aria-hidden="true"></i> Live Support </li>
                    </ul>
                  </div>
                  <a href="#">Order Now </a>
                </div>
              </div>
              <!-- END Col two -->
              <div class="col-md-4">
                <div class="card text-center">
                  <div class="title">
                    <i class="fa fa-rocket" aria-hidden="true"></i>
                    <h2>Premium</h2>
                  </div>
                  <div class="price">
                    <h4><sup>$</sup>100</h4>
                  </div>
                  <div class="option">
                    <ul>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> Unlimited GB Space </li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> 30 Domain Names </li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> Unlimited Email Address </li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> Live Support </li>
                    </ul>
                  </div>
                  <a href="#">Order Now </a>
                </div>
              </div>
              <!-- END Col three -->
            </div>
          </div>
        </div>
      </div>

>>>>>>> wojob-emanuel
  	</main>  	
   {% include 'App/component/footer.html.twig' %}
   <input type="hidden" id="global_json" value="{{asset('js/global.json')}}">
  </body>
  <script>
     (function() {
  var canvas = document.getElementById('quakeCanvas');

  // Create our Planetary.js planet and set some initial values;
  // we use several custom plugins, defined at the bottom of the file
  var planet = planetaryjs.planet();
  planet.loadPlugin(autocenter({extraHeight: -120}));
  planet.loadPlugin(autoscale({extraHeight: -120}));
  planet.loadPlugin(planetaryjs.plugins.earth({
    topojson: { file:   $("#global_json").val() },
    oceans:   { fill:   '#001320' },
    land:     { fill:   '#06304e' },
    borders:  { stroke: '#001320' }
  }));
  planet.loadPlugin(planetaryjs.plugins.pings());
  /*planet.loadPlugin(planetaryjs.plugins.zoom({
    scaleExtent: [50, 5000]
  }));*/
  planet.loadPlugin(planetaryjs.plugins.drag({
    onDragStart: function() {
      this.plugins.autorotate.pause();
    },
    onDragEnd: function() {
      this.plugins.autorotate.resume();
    }
  }));
  planet.loadPlugin(autorotate(5));
  planet.projection.rotate([100, -10, 0]);
  planet.draw(canvas);


  // Create a color scale for the various earthquake magnitudes; the
  // minimum magnitude in our data set is 2.5.
  var colors = d3.scale.pow()
    .exponent(3)
    .domain([2, 4, 6, 8, 10])
      .range(['white', 'yellow', 'orange', 'red', 'purple']);
  // Also create a scale for mapping magnitudes to ping angle sizes
  var angles = d3.scale.pow()
    .exponent(3)
    .domain([2.5, 10])
    .range([0.5, 15]);
  // And finally, a scale for mapping magnitudes to ping TTLs
  var ttls = d3.scale.pow()
    .exponent(3)
    .domain([2.5, 10])
    .range([2000, 5000]);

  // Create a key to show the magnitudes and their colors
  d3.select('#magnitudes').selectAll('li')
    .data(colors.ticks(9))
  .enter()
    .append('li')
    .style('color', colors)
    .text(function(d) {
      return "Magnitude " + d;
    });


  // Load our earthquake data and set up the controls.
  // The data consists of an array of objects in the following format:
  // {
  //   mag:  magnitude_of_quake
  //   lng:  longitude_coordinates
  //   lat:  latitude_coordinates
  //   time: timestamp_of_quake
  // }
  // The data is ordered, with the earliest data being the first in the file.
  d3.json('/examples/quake/year_quakes_small.json', function(err, data) {
    if (err) {
      return;
    }

    var start = parseInt(data[0].time, 10);
    var end = parseInt(data[data.length - 1].time, 10);
    var currentTime = start;
    var lastTick = new Date().getTime();

    var updateDate = function() {
      d3.select('#date').text(moment(currentTime).utc().format("MMM DD YYYY HH:mm UTC"));
    };

    // A scale that maps a percentage of playback to a time
    // from the data; for example, `50` would map to the halfway
    // mark between the first and last items in our data array.
    var percentToDate = d3.scale.linear()
      .domain([0, 100])
      .range([start, end]);

    // A scale that maps real time passage to data playback time.
    // 12 minutes of real time maps to the entirety of the
    // timespan covered by the data.
    var realToData = d3.scale.linear()
      .domain([0, 1000 * 60 * 12])
      .range([0, end - start]);

    var paused = false;

    // Pause playback and update the time display
    // while scrubbing using the range input.
    d3.select('#slider')
      .on('change', function(d) {
        currentTime = percentToDate(d3.event.target.value);
        updateDate();
      })
      .call(d3.behavior.drag()
        .on('dragstart', function() {
          paused = true;
        })
        .on('dragend', function() {
          paused = false;
        })
      );


    // The main playback loop; for each tick, we'll see how much
    // time passed in our accelerated playback reel and find all
    // the earthquakes that happened in that timespan, adding
    // them to the globe with a color and angle relative to their magnitudes.
    d3.timer(function() {
      var now = new Date().getTime();

      if (paused) {
        lastTick = now;
        return;
      }

      var realDelta = now - lastTick;
      // Avoid switching back to the window only to see thousands of pings;
      // if it's been more than 500 milliseconds since we've updated playback,
      // we'll just set the value to 500 milliseconds.
      if (realDelta > 500) realDelta = 500;
      var dataDelta = realToData(realDelta);

      var toPing = data.filter(function(d) {
        return d.time > currentTime && d.time <= currentTime + dataDelta;
      });

      for (var i = 0; i < toPing.length; i++) {
        var ping = toPing[i];
        planet.plugins.pings.add(ping.lng, ping.lat, {
          // Here we use the `angles` and `colors` scales we built earlier
          // to convert magnitudes to appropriate angles and colors.
          angle: angles(ping.mag),
          color: colors(ping.mag),
          ttl:   ttls(ping.mag)
        });
      }

      currentTime += dataDelta;
      if (currentTime > end) currentTime = start;
      updateDate();
      d3.select('#slider').property('value', percentToDate.invert(currentTime));
      lastTick = now;
    });
  });



  // Plugin to resize the canvas to fill the window and to
  // automatically center the planet when the window size changes
  function autocenter(options) {
    options = options || {};
    var needsCentering = false;
    var globe = null;

    var resize = function() {
      var width  = window.innerWidth/2+ (options.extraWidth || 0);
      var height = window.innerHeight/2 + (options.extraHeight || 0);
      globe.canvas.width = width;
      globe.canvas.height = height;
      globe.projection.translate([width / 2, height / 2]);
    };

    return function(planet) {
      globe = planet;
      planet.onInit(function() {
        needsCentering = true;
        d3.select(window).on('resize', function() {
          needsCentering = true;
        });
      });

      planet.onDraw(function() {
        if (needsCentering) { resize(); needsCentering = false; }
      });
    };
  };

  // Plugin to automatically scale the planet's projection based
  // on the window size when the planet is initialized
  function autoscale(options) {
    options = options || {};
    return function(planet) {
      planet.onInit(function() {
        var width  = window.innerWidth /2 + (options.extraWidth || 0);
        var height = window.innerHeight/2 + (options.extraHeight || 0);
        planet.projection.scale(Math.min(width, height) / 2);
      });
    };
  };

  // Plugin to automatically rotate the globe around its vertical
  // axis a configured number of degrees every second.
  function autorotate(degPerSec) {
    return function(planet) {
      var lastTick = null;
      var paused = false;
      planet.plugins.autorotate = {
        pause:  function() { paused = true;  },
        resume: function() { paused = false; }
      };
      planet.onDraw(function() {
        if (paused || !lastTick) {
          lastTick = new Date();
        } else {
          var now = new Date();
          var delta = now - lastTick;
          var rotation = planet.projection.rotate();
          rotation[0] += degPerSec * delta / 1000;
          if (rotation[0] >= 180) rotation[0] -= 360;
          planet.projection.rotate(rotation);
          lastTick = now;
        }
      });
    };
  };
})();
  </script>
<html>