<!DOCTYPE html>
<html>
  <head>
    {% include 'App/signInUp/links.html.twig' %}
    <link href="{{ asset('css/page/home.css') }}" rel="stylesheet"/>
    <script src="{{asset('js/typed.js')}}"></script>
  </head>
  <body>
  	<header>
       {% include 'App/component/nav.html.twig'%}
  	</header>
  	<main>
      <div  class="typing-animation" id="bar">
       <h1 class="text-white text-center" id="quote"> </h1>
      </div>
      <div class="text-center" id="seconddiv">
        <h2 class="h4 m-4">C'EST QUOI WOJOB ?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla dolor purus, sit amet eleifend enim venenatis vitae. Cras commodo vestibulum ante, sit amet tincidunt odio cursus quis.eleifend enim venenatis vitae. Cras commodo vestibulum ante, sit amet tincidunt odio cursus quis.
        </p>
      
        <p class="text-center m-5 text-white " >
          <a style="cursor: pointer;" id="studioVideoCvButton">  publier video cv</a> 
          <a href="{{path('video')}}" style="background-color:#a3e5fd">see all video </a>
          <a  id="studioAnnonceButton" style="cursor: pointer;"> je faire un annonce </a>
        </p>
       
      </div>
      <div id="slicedivf"></div>
      <div id="slicedivr"></div>      
      <div class="text-center" id="tdiv">
        <div>
           <h3 class="h5">Le recrutement freelance enfin simple et rapide</h3>
          <ol>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere cursus elementum. Vivamus lacinia eu lacus dictum porta. Etiam aliquam eros sed condimentum laoreet
            </li>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere cursus elementum. Vivamus lacinia eu lacus dictum porta. Etiam aliquam eros sed condimentum laoreet.
            </li>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere cursus elementum. Vivamus lacinia eu lacus dictum porta. Etiam aliquam eros sed condimentum laoreet.
            </li>
          </ol>
        </div>
      </div>
      <article class="row">
       <div class="col-md-1">
          <div class="Phone is-animating"> </div>
       </div>
       <div class="col-md-11 text-white font-weigth-bold">
        <h3> Vous pouvez recuperez le numero de recruteur et lui appele chez wojob</h3>
       </div>
     </article>
      <div class="row" id="bar-video">
        <div class="col-md-6 text-center ">
           <h4 class="h6 text-center m-2">MES AVANTAGES AVEC WOJOB</h4>
            <ul>
              <li>
                 <i class="far fa-check-circle"></i>
                  Lorem ipsum dolor sit amet
              </li>
               <li>
                <i class="far fa-check-circle"></i>
                  Lorem ipsum dolor sit amet
              </li>
               <li>
                <i class="far fa-check-circle"></i>
                  Lorem ipsum dolor sit amet
              </li>
               <li>
                <i class="far fa-check-circle"></i>
                  Lorem ipsum dolor sit amet
              </li>
            </ul>
        </div>
        <div class="col-md-6 text-center">
          <img width ="30%"src="{{asset('img/remote.jpg')}}" style="border-radius:100%">
        </div>
     </div>
      <div id="b_slicedivf"></div>
      <div id="b_slicedivr"></div>
      <div class="row"  id="howWork">
    
      <div class="col-md-6 text-center">
          <h4 class=" font-weight-bold"> Comment ça marche  </h4>
        <img width = "40%"src="{{asset('img/help.jpg')}}">
      </div>
      <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dJP4vasTG-8" title="YouTube video player"allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="border:7px solid #ac95fd; border-radius:20px"></iframe>
        <p class="text-center" style="width:560px" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p> <a href="#">Créez un compte  <i class="fas fa-arrow-right"></i>  <i class="fas fa-arrow-right"></i> <i class="fas fa-arrow-right"></i></a> </p>
      </div>
     </div>
  	</main>  	
   {% include 'App/component/footer.html.twig' %}
  </body>
<html>