<!DOCTYPE html>
<html>
  <head>
    {% include 'App/signInUp/links.html.twig' %}
    <link href="{{ asset('css/page/listjob.css')}}"rel="stylesheet"/>
  </head>
  <body>
  	<header>
      {% include 'App/component/nav.html.twig'%}
  	</header>
  	<main>
      <div id="bg_bar">
        <div>
          <h1 class="text-white text-center"> 
            TROUVER VOTRE PROCHAIN JOB <br>AVEC WOJOB PAR TOUT <br>EN FRANC
          </h1>
          <p id="span">
            <span class="text-white font-weight-bold">
              Mot clé:
            </span>
            <input placeholder="informatique, developpeur web , php " name="keys"> 
            <span class="text-white font-weight-bold" id="span">Ville:
            </span> 
            <input placeholder="paris, 7" name="city">
          </p>
          <button id="search" >
            Je trouve mon job
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
      <p class="text-center m-5 text-white " >
        <a class="a_bg" href="{{path('video')}}">
          see all video 
        </a>
        <a id="studioVideoCvButton">  publier video cv
        </a> 
        <a id="studioAnnonceButton"> je faire un annonce 
        </a>
      </p>
      <p class="text-center" id="annonceLast">
        <strong> Les denières offres d'emploi
        </strong>
      </p>
      <div id="hideData">
        {% for annonceInfo in annonce %}
        <a  class="lastAnnonce" href="{{path('infojob')}}?id={{annonceInfo.id}}">
          <article>
            <h2> 
              <strong class="m-2 text-white">
                JE CHERCHE UN/E:
              </strong>
              {{annonceInfo.title|upper}}
            </h2>
            <p>
              <strong class="m-2 text-primary">Mission: 
              </strong>
              {{annonceInfo.mission|capitalize}}
            </p>
            <h3 class="h5">
              <i class="fas fa-map-marker-alt">
              </i>
              <span>{{annonceInfo.city|capitalize}}
              </span>
            </h3>
            <p>
              <span class="contrat">{{annonceInfo.contrat|upper}}
              </span>
              <span class="money">{{annonceInfo.salaire}}$/Brut
              </span> 
              <span class="text-dark">
                <i class="fas fa-eye"></i>
              </span>
            </p>
            </article>
         </a>
        {% endfor %}
      </div>
      <div id="showData">
      </div>
      </div>
    </main>
    <input type="hidden" value="{{path('searchAnnonce')}}"/>
  </body>
    {% include 'App/component/footer.html.twig'%}
    <script>
      //ajax script 
      $("#search").click(()=>
      {
        let hide_value= $("input[type='hidden']").val();
        let city = $("input[name='city']").val();
        let key= $("input[name='keys']").val();
        if(hide_value !=false)
        {
          if(key !=false)
          {
           $.post(hide_value,
            {key:key,
             city:city
            },function(data)
            {
              $("#hideData").hide("1000",()=>{
                $("#showData").html(data);
              })
            });     
          } 
        }
      });
    </script>
  </body>
<html>