  <ul id="first">
     <li id="sitename">
      <a  href="{{path('home')}}"><span class="h3">WO<span>JOB<span></span></span>
    </li>
  </ul>

  <ul class="text-center" id="second" >
    <li>
      <a  href="{{path('home')}}"  title ="home"><i class="fas fa-home"></i>

      </a>
      
    </li>
    <li id="recruteur">
      <a  tile="recruter  job" href="{{path('recruter')}}">
        <i class="fas fa-user-graduate"></i>
      </a>
    </li>
    <li id="video">
      <a  href="{{path('video')}}">
        <i class="fas fa-tv"></i>
      </a>
    </li>
    <li>
      <a><i class="fas fa-dollar-sign"></i></a>
    </li>
    <li>
      <a><i class="fas fa-bell"></i></a>
    </li>

  </ul>

  <ul id="third">
    <a href="{{path('user')}}"> <img class="profil"src="{{asset('img/cv.png')}}" style="width:40px; height:40px; border-radius:100%"></a>
  </ul>
