<!DOCTYPE html>
<html>
  <head>
    {% include 'App/signInUp/links.html.twig' %}
    <link href="{{ asset('css/page/video.css') }}" rel="stylesheet"/>
  </head>
  <body>
  	<header>
      {% include 'App/component/nav.html.twig' %}
  	</header>
  	<main>
      <div class=" row">
        <div class="card col-md-3" style="border-bottom:none">
            <div class="card-body">
              <p class="text-center">
                Désormais vous pouvez trouver votre candidat toute en  regardant sa videod'apresentation  avec
                <span style="color:#4f0093" class="font-weight-bold">
                  cv video studio <i class="fas fa-video"></i>
                </span> 
              </p>   
              <p> 
                <span class="text-primary font-weight-bold">
                  Je cherche: 
                </span> 
                <input type="text" class="form-control" name="search_candidat" placeholder="métier, mots-clé">
              </p>
               <hr>
                <p>
                  <span class="font-weight-bold text-primary">
                    <i class="fas fa-city color_vio"></i> City: </span>
                  <input type="text" class="form-control " name="city_candidat" placeholder="Ex.: Paris">
                </p>
                <p> 
                 <span class="font-weight-bold text-primary">
                  <i class="fab fa-usps color_vio"></i>  Code Postal:
                 </span>
                 <input type="number" class="form-control"name="codePostal_candidat"
                   placeholder="Ex.:75007">
                </p>
                <button class="btn text-white" id="search_candidat"style="background:#4f0093">
              rechercher candidats 
              <i class="fas fa-chevron-right"></i>
            </button>
            </div>
          </div>
          <div class="col-md-9 "  id="title" style="background-color:#f0f2f5;">
            <h1>TROUVEZ VOTRE <br> PROCHAIN CANDIDAT</h1>
            <!--- card -->
            <div id="hideData">
            {% for  data in repository  %}
            <div class="card_div">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">
                   <span>
                    <img class="profil"src="{{asset('img/cv.png')}}">
                   </span>
                   <!-- <span class="font-weight-bold">{#data.username#}
                   </span> -->
                 </h5>
                  <h6 class="card-subtitle mb-2 font-weight-bold">
                    <span class="text-dark">Je suis</span> :{{data.title|upper}}
                  </h6>
                
                  <div>
                    <video width="100%" height="315" src="{{data.video}}" controls="true">
                    </video> 
                  </div>
                   <hr>
                   <div>
                     <button class="btn">
                      <i class="fas fa-mobile-alt"></i>
                     {{data.tel}}
                     </button>
                     <button class="card-link btn">
                        <i class="fas fa-download"></i> Telecharger cv en pdf
                     </button>
                      <button  class="card-link btn text-white">
                        <i class="fas fa-share-alt">
                        </i>Partager</button>
                      <input type="hidden" name="url_candidat" value="{{path('searchcandidat')}}">
                   </div>
                  <hr>
                </div>
              </div>
          </div>
          {% endfor%}
        </div>
          <div id="showData">
          </div>
          <!-- second div -->        
      </div>
  	</main>
    {% include 'App/component/footer.html.twig' %}
  </body>
  <script>
    /*ajax code */
    $("#search_candidat").click(function(){
      
      let url = $("input[name='url_candidat']").val(),
          search_candidat = $("input[name='search_candidat']").val(),
          city_candidat = $("input[name='city_candidat']").val(),
          codePostal_candidat = $("input[name='codePostal_candidat']").val(); 

      $.post(url, {
        search_candidat:search_candidat,
        city_candidat:city_candidat,
        codePostal_candidat:codePostal_candidat
      },(data, status , states)=>{
        // set data here ...
         $("#hideData").hide("1000", function(){
          $("#showData").html(data);
         });
      });
    })
    
  </script>
<html>